VITE_API_URL=https://chemischill.onrender.com
VITE_API_PROTOCOL=https
VITE_API_HOST=chemischill.onrender.com
VITE_API_PORT=443
VITE_API_DOMAIN=chemischill.onrender.com
VITE_ADMIN_ZALO_URL=
VITE_ADMIN_ZALO_LABEL=Admin ChemisChill
